
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=15016565735211212'); /* IE9*/
  src: url('iconfont.eot?t=15016565735212121#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=15016565735121221') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=15016565731212521') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=15016561212573521#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jinlingyingcaiwangtubiao86:before { content: "\e6f5"; }

.icon-sousuo:before { content: "\e603"; }

.icon-jiantou-copy:before { content: "\e62b"; }

.icon-chevron-copy-copy-copy-copy-copy:before { content: "\e720"; }

.icon-gouxuan:before { content: "\e662"; }

.icon-arrows-copy-copy:before { content: "\e6aa"; }

.icon-shanchu1:before { content: "\e6b2"; }

.icon-arrow-left:before { content: "\e601"; }

.icon-ren:before { content: "\e686"; }

.icon-shanchu:before { content: "\e651"; }

.icon-shaixuanxuanzhong:before { content: "\e605"; }

.icon-chushaixuanxiang:before { content: "\e61a"; }

.icon-gouxuanzhong:before { content: "\e623"; }

.icon-suo:before { content: "\e60e"; }

.icon-chuyidong:before { content: "\e606"; }

.icon-biyan:before { content: "\e600"; }

