.icon
{
    font-family: MesIcons;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    line-height: 1;

    display: inline-block;

    text-decoration: none;

    -webkit-font-smoothing: antialiased;
}
.icon.active
{
    color: #007aff;
}
.icon.right:before
{
    float: right;

    padding-left: .2em;
}

.icon-contact:before
{
    content: '\e100';
}

.icon-person:before
{
    content: '\e101';
}

.icon-personadd:before
{
    content: '\e102';
}

.icon-contact-filled:before
{
    content: '\e130';
}

.icon-person-filled:before
{
    content: '\e131';
}

.icon-personadd-filled:before
{
    content: '\e132';
}

.icon-phone:before
{
    content: '\e200';
}

.icon-email:before
{
    content: '\e201';
}

.icon-chatbubble:before
{
    content: '\e202';
}

.icon-chatboxes:before
{
    content: '\e203';
}

.icon-phone-filled:before
{
    content: '\e230';
}

.icon-email-filled:before
{
    content: '\e231';
}

.icon-chatbubble-filled:before
{
    content: '\e232';
}

.icon-chatboxes-filled:before
{
    content: '\e233';
}

.icon-weibo:before
{
    content: '\e260';
}

.icon-weixin:before
{
    content: '\e261';
}

.icon-pengyouquan:before
{
    content: '\e262';
}

.icon-chat:before
{
    content: '\e263';
}

.icon-qq:before
{
    content: '\e264';
}

.icon-videocam:before
{
    content: '\e300';
}

.icon-camera:before
{
    content: '\e301';
}

.icon-mic:before
{
    content: '\e302';
}

.icon-location:before
{
    content: '\e303';
}

.icon-mic-filled:before, .icon-speech:before
{
    content: '\e332';
}

.icon-location-filled:before
{
    content: '\e333';
}

.icon-micoff:before
{
    content: '\e360';
}

.icon-image:before
{
    content: '\e363';
}

.icon-map:before
{
    content: '\e364';
}

.icon-compose:before
{
    content: '\e400';
}

.icon-trash:before
{
    content: '\e401';
}

.icon-upload:before
{
    content: '\e402';
}

.icon-download:before
{
    content: '\e403';
}

.icon-close:before
{
    content: '\e404';
}

.icon-redo:before
{
    content: '\e405';
}

.icon-undo:before
{
    content: '\e406';
}

.icon-refresh:before
{
    content: '\e407';
}

.icon-star:before
{
    content: '\e408';
}

.icon-plus:before
{
    content: '\e409';
}

.icon-minus:before
{
    content: '\e410';
}

.icon-circle:before, .icon-checkbox:before
{
    content: '\e411';
}

.icon-close-filled:before, .icon-clear:before
{
    content: '\e434';
}

.icon-refresh-filled:before
{
    content: '\e437';
}

.icon-star-filled:before
{
    content: '\e438';
}

.icon-plus-filled:before
{
    content: '\e439';
}

.icon-minus-filled:before
{
    content: '\e440';
}

.icon-circle-filled:before
{
    content: '\e441';
}

.icon-checkbox-filled:before
{
    content: '\e442';
}

.icon-closeempty:before
{
    content: '\e460';
}

.icon-refreshempty:before
{
    content: '\e461';
}

.icon-reload:before
{
    content: '\e462';
}

.icon-starhalf:before
{
    content: '\e463';
}

.icon-spinner:before
{
    content: '\e464';
}

.icon-spinner-cycle:before
{
    content: '\e465';
}

.icon-search:before
{
    content: '\e466';
}

.icon-plusempty:before
{
    content: '\e468';
}

.icon-forward:before
{
    content: '\e470';
}

.icon-back:before, .icon-left-nav:before
{
    content: '\e471';
}

.icon-checkmarkempty:before
{
    content: '\e472';
}

.icon-home:before
{
    content: '\e500';
}

.icon-navigate:before
{
    content: '\e501';
}

.icon-gear:before
{
    content: '\e502';
}

.icon-paperplane:before
{
    content: '\e503';
}

.icon-info:before
{
    content: '\e504';
}

.icon-help:before
{
    content: '\e505';
}

.icon-locked:before
{
    content: '\e506';
}

.icon-more:before
{
    content: '\e507';
}

.icon-flag:before
{
    content: '\e508';
}

.icon-home-filled:before
{
    content: '\e530';
}

.icon-gear-filled:before
{
    content: '\e532';
}

.icon-info-filled:before
{
    content: '\e534';
}

.icon-help-filled:before
{
    content: '\e535';
}

.icon-more-filled:before
{
    content: '\e537';
}

.icon-settings:before
{
    content: '\e560';
}

.icon-list:before
{
    content: '\e562';
}

.icon-bars:before
{
    content: '\e563';
}

.icon-loop:before
{
    content: '\e565';
}

.icon-paperclip:before
{
    content: '\e567';
}

.icon-eye:before
{
    content: '\e568';
}

.icon-arrowup:before
{
    content: '\e580';
}

.icon-arrowdown:before
{
    content: '\e581';
}

.icon-arrowleft:before
{
    content: '\e582';
}

.icon-arrowright:before
{
    content: '\e583';
}

.icon-arrowthinup:before
{
    content: '\e584';
}

.icon-arrowthindown:before
{
    content: '\e585';
}

.icon-arrowthinleft:before
{
    content: '\e586';
}

.icon-arrowthinright:before
{
    content: '\e587';
}

.icon-pulldown:before
{
    content: '\e588';
}


 /*loading*/
.loading {
    display: inline-block; 
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-animation: animate-spining 1s step-end infinite;
    animation: animate-spining 1s step-end infinite;
    width:40px;
    height:40px;
}
.loading:after {
   display: block;
    width: 100%;
    height: 100%;
    content: '';
 /*background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='120' height='120' viewBox='0 0 100 100'%3E%3Cpath fill='none' d='M0 0h100v100H0z'/%3E%3Crect xmlns='http://www.w3.org/2000/svg' width='7' height='20' x='46.5' y='40' fill='rgba(255,255,255,.56)' rx='5' ry='5' transform='translate(0 -30)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='rgba(255,255,255,.5)' rx='5' ry='5' transform='rotate(30 105.98 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='rgba(255,255,255,.43)' rx='5' ry='5' transform='rotate(60 75.98 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='rgba(255,255,255,.38)' rx='5' ry='5' transform='rotate(90 65 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='rgba(255,255,255,.32)' rx='5' ry='5' transform='rotate(120 58.66 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='rgba(255,255,255,.28)' rx='5' ry='5' transform='rotate(150 54.02 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='rgba(255,255,255,.25)' rx='5' ry='5' transform='rotate(180 50 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='rgba(255,255,255,.2)' rx='5' ry='5' transform='rotate(-150 45.98 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='rgba(255,255,255,.17)' rx='5' ry='5' transform='rotate(-120 41.34 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='rgba(255,255,255,.14)' rx='5' ry='5' transform='rotate(-90 35 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='rgba(255,255,255,.1)' rx='5' ry='5' transform='rotate(-60 24.02 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='rgba(255,255,255,.03)' rx='5' ry='5' transform='rotate(-30 -5.98 65)'/%3E%3C/svg%3E");*/
    background-image:url('data:image/svg+xml;charset=utf-8,<svg viewBox=\'0 0 120 120\' xmlns=\'http://www.w3.org/2000/svg\' xmlns:xlink=\'http://www.w3.org/1999/xlink\'><defs><line id=\'l\' x1=\'60\' x2=\'60\' y1=\'7\' y2=\'27\' stroke=\'%236c6c6c\' stroke-width=\'11\' stroke-linecap=\'round\'/></defs><g><use xlink:href=\'%23l\' opacity=\'.27\'/><use xlink:href=\'%23l\' opacity=\'.27\' transform=\'rotate(30 60,60)\'/><use xlink:href=\'%23l\' opacity=\'.27\' transform=\'rotate(60 60,60)\'/><use xlink:href=\'%23l\' opacity=\'.27\' transform=\'rotate(90 60,60)\'/><use xlink:href=\'%23l\' opacity=\'.27\' transform=\'rotate(120 60,60)\'/><use xlink:href=\'%23l\' opacity=\'.27\' transform=\'rotate(150 60,60)\'/><use xlink:href=\'%23l\' opacity=\'.37\' transform=\'rotate(180 60,60)\'/><use xlink:href=\'%23l\' opacity=\'.46\' transform=\'rotate(210 60,60)\'/><use xlink:href=\'%23l\' opacity=\'.56\' transform=\'rotate(240 60,60)\'/><use xlink:href=\'%23l\' opacity=\'.66\' transform=\'rotate(270 60,60)\'/><use xlink:href=\'%23l\' opacity=\'.75\' transform=\'rotate(300 60,60)\'/><use xlink:href=\'%23l\' opacity=\'.85\' transform=\'rotate(330 60,60)\'/></g></svg>');background-repeat:no-repeat;background-position:50%;background-size:100%}
/*旋转动画*/
@-webkit-keyframes animate-spining{0%{-webkit-transform:rotate(0deg)}8.33333333%{-webkit-transform:rotate(30deg)}16.66666667%{-webkit-transform:rotate(60deg)}25%{-webkit-transform:rotate(90deg)}33.33333333%{-webkit-transform:rotate(120deg)}41.66666667%{-webkit-transform:rotate(150deg)}50%{-webkit-transform:rotate(180deg)}58.33333333%{-webkit-transform:rotate(210deg)}66.66666667%{-webkit-transform:rotate(240deg)}75%{-webkit-transform:rotate(270deg)}83.33333333%{-webkit-transform:rotate(300deg)}91.66666667%{-webkit-transform:rotate(330deg)}100%{-webkit-transform:rotate(360deg)}}
@keyframes animate-spining{0%{transform:rotate(0deg)}8.33333333%{transform:rotate(30deg)}16.66666667%{transform:rotate(60deg)}25%{transform:rotate(90deg)}33.33333333%{transform:rotate(120deg)}41.66666667%{transform:rotate(150deg)}50%{transform:rotate(180deg)}58.33333333%{transform:rotate(210deg)}66.66666667%{transform:rotate(240deg)}75%{transform:rotate(270deg)}83.33333333%{transform:rotate(300deg)}91.66666667%{transform:rotate(330deg)}100%{transform:rotate(360deg)}}