/*#region 登录*/
.login-body {
background:#fff;
}
.login-titlebar {
    background:#fff;
    border-bottom:1px solid #ccc;
}
    .login-titlebar > .title {
         color:#0F87e6;
      font-size:.36rem;
    }

    .login-main-content{
        background:#fff;
    }

.logo {
    text-align:center;
    margin-top:1rem;
}
.logo>img {
       width: 6rem;
    max-width: 90%;
    
}
.loginBox {
    padding:1rem .5rem;
}
.login-userName,.login-password,.login-submit {
    position:relative;
    margin-top:.5rem;
    box-shadow:none;
}
.login-userName > .userIcon,.login-password>.passwordIcon {
    position: absolute;
    top:50%;
    margin-top:-.25rem;
    color:#aaa;
    margin-left:.2rem;
   
}
.login-userName > input,.login-password >input,.btn-login{
     display:block;
    width:100%;
    border:1px solid #ccc;
    border-radius:.45rem;
    height:.9rem;
    padding:0 .8rem;
}
    .login-userName > input:focus ,.login-password >input:focus{
        border-color:#0f87e6
    }
        .login-userName > input:focus ~ .userIcon ,.login-password > input:focus ~ .passwordIcon{
            color:#0f87e6
        }
.btn-login {
   outline: none !important;
}


/*提示框字体*/
.login-userName > input:focus::-webkit-input-placeholder, .login-password > input:focus::-webkit-input-placeholder{
  /* WebKit browsers */
  /*参考 http://www.cnblogs.com/shineLh/p/6856427.html */
  color:#0f87e6
}
 
/*#endregion*/

/*#region 首页*/
 /*#region banner*/
 .banner {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    position: relative;
}
    /*bannel 滚动项*/
    .banner .scroll {
        display: flex;
        width: 400%;
        overflow: hidden;
    }
/*bannel 滚动成员*/
.slide {
    width: 100%;
    -webkit-box-flex: 1;
    height: 3.5rem;
}
/*bannel 位置指示标*/
.banner .iScrollLoneScrollbar {
    position: absolute;
    bottom: 5px;
    left: 50%;
    margin-left: -50px;
    width: 100px;
    height: 10px;
}
    /*bannel 当前位置指示标*/
    .banner .iScrollLoneScrollbar > div:first-child {
        position: absolute;
        width: 11px;
        height: 11px;
        border-radius: 5.5px;
        z-index: 2000;
        background-color: rgba(76, 217, 100, 1);
    }
    /*bannel 所有位置指示标*/
    .banner .iScrollLoneScrollbar ul.dots {
        list-style: none;
        width: 100%;
        position: relative;
    }
        .banner .iScrollLoneScrollbar ul.dots > li {
            position: absolute;
            display: block;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: #000;
            opacity: .2;
            z-index: 1000;
        }

 /*#endregion*/

 /*#region 功能菜单*/
.functionArea {
    margin-top:.2rem;
    background:#fff;
    margin-bottom:1rem;
}
.fuctionTitle {
      border: 1px solid #ccc;
    border-width: 1px 0;
    font-size: .28rem;
    color: #666;
    /* padding: .2rem .2rem; */
    font-weight: 400;
    height: .72rem;
    line-height: .72rem;
    padding-left: .2rem;
}
.functionList.list > .item > .item-icon>img {
    width:.88rem;
}

.functionList.list > .item > .item-content {
   height: 1.32rem;
}
.functionList.list > .item > .item-content h2 {
    font-size:.32rem;
    color:#333;
    font-weight:normal;
    font-weight: 500;
    /*padding:.15rem 0;*/
}
.functionList.list > .item > .item-content  p {
       font-size: .24rem;
    padding: .05rem 0;
    color: #999;
}

 /*#endregion*/

/*#endregion*/

/*#region 任务列表导航*/

.task-buttons-tab {
    /*display:inline-block;*/
    /*width:auto;*/
    display: inline-flexbox;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: inline-flex;
}
    .task-buttons-tab>.btn {
        border-color:#fff;
        background:#0894ec;
        color:#fff;
        display:inline-block;
       min-width: 1.2rem;
    }
        .task-buttons-tab>.btn.active {
            background:#fff;
            color:#0894ec; 
        }
.task- > .search {
    display:block;
}
/*#endregion*/

/*#region 任务列表*/
.tabs.taskList-tabs {
     position: absolute;
     /*height: 100%;*/ 
    top: .88rem;
    bottom: 0;
    /*border-bottom: .88rem solid transparent;*/
}

.taskList-autoScroll {
    position:absolute;
    top:.96rem;
    bottom:0;

       
}

.taskList > .taskItem {
    margin-top:10px;
    background:#fff;
    padding:.2rem;
    position:relative;
    display:block;
}
.taskList > .taskItem:active {
     background:#ddd; 
}
.taskItem > .pgdid {
    font-size:.32rem;
    color:#333;
    font-weight:400;
}
.taskItem > .material {
    font-size:.28rem;
    font-weight:normal;
     color:#333;
    margin-top: .1rem;
}
.taskItem > .plantime {
     margin-top: .1rem;
     font-size:.28rem;
    font-weight:normal;
    color:#666;
    display:flex;
}
.taskItem > .plantime .starttime,.taskItem > .plantime .endtime{
    padding-left:.3rem;
}
    .taskItem > .plantime .endtime {
        margin-top:.08rem;
    }
.taskItem > .plantime .starttime .lab{
   color:#2d98e9
}
    .taskItem > .plantime .endtime .lab {
        color:#cc3f3f
    }
      .taskItem > .proc {
        position:absolute;
        right:.12rem;
        top:0;
        z-index:10;
        font-size:.3rem;
        color:#fff;
    }
        .taskItem > .procbg{
            position:absolute;
            content:"";
            width: 0;
            height: 0;
            border-top: .38rem solid #EEB422;
            border-right: .48rem solid #EEB422;
            border-left: .48rem solid transparent;
             border-bottom: .38rem solid transparent;
            top:0;
            right:0;
           z-index:9;
        }
/*#endregion*/


/*#region 任务列表过滤筛选*/
.modal-panel-chooseFilter {
    right: 0;
    width: 80%;
    left: auto;
        -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}

    .modal-panel-chooseFilter .bottomButtons .btn {
        border-top-width:1px
    }

    .modal-panel-chooseFilter .tabs {
        position:absolute;
        top:1.02rem;
        bottom:.9rem;
    }
/*#endregion*/

/*#region 任务详情*/
.task-detail-info {
    color:#888; 
}



/*#endregion*/

/*#region 人员资质*/
.taskConfirm-ryzz {
    font-size: .32rem;
    padding: .32rem .22rem;
    color: #FF703B;
}
/*#endregion*/


/*#region 报警*/
.div-alarmSelfReason {
    padding:.2rem;

}
    .div-alarmSelfReason > textarea {
        width: 100%;
        height: 1.4rem;
        resize: none;
        border: 1px solid #ccc;
        PADDING: .1rem .2rem;
    }

/*#endregion*/

/*#region 任务汇报*/
.reportDetail {
     padding:0 .3rem;
}
.reportDetail-title {
    font-size: .32rem;
    color: #333;
    font-weight: normal;
   
    margin-bottom:.24rem;
}
.reportDetail-item {
    display:-webkit-flex;
    display:flex; 
    align-items:center;
    margin-bottom:.32rem;
}
    .reportDetail-item > .reportDetail-item-text {
        flex:none;
      
        text-align:right;
        width:1.4rem;
      
    }
     .reportDetail-item > .reportDetail-item-ipt {
        flex:1;
        width:100%;
        height:.68rem;
        margin-left:.4rem;
        border:1px solid #E5E5E5 ;
        /*margin:0 .24rem 0 .4rem;*/
    }
    .reportDetail-item > .reportDetail-item-alarm {
        flex: 1;
        width: 100%;
        height: .68rem;
        padding: 0;
        margin: 0;
        margin-left: .24rem;
        text-align: center;
        line-height: .68rem;
        overflow: hidden;
        text-overflow: ellipsis;
        border:1px solid #0F87E6;
        color:#0F87E6;
        font-size:.24rem;
    }
  
        .reportDetail-item > .reportDetail-item-alarm:active,.reportDetail-item > .reportDetail-item-alarm.active {
           background-color:#0c75c9;
           border-color:#0c75c9;
           color:#fff;
          
        }
            .reportDetail-item > .reportDetail-item-alarm:active::-webkit-input-placeholder {
                color:#fff;
            }
        .reportDetail-item > .reportDetail-item-alarm.active {
            background-color:#0F87E6;
            color:#fff;
        }
/*#endregion*/


/*#region 收料确认*/
/*#region 收料确认列表*/
.receiveMaterialList {
    background:none;
}
.receiveMaterialItem {
    margin:.2rem 0;
    background:#fff;
}
.receiveMaterialItem:after{
    display:none;
}
.receiveMaterialItem .lingliaodan {
    color:#111;
    font-size:.32rem;
}
    .receiveMaterialItem .kufang-peisonggongwei {
        margin-top: .1rem;
        font-size: .28rem;
        color: #666;
    }

    .receiveMaterialItem .peisonggongwei {
        margin-left: .48rem;
    }
    .receiveMaterialItem .proc-plancount {
         margin-top:.1rem;
        font-size:.28rem;
        color:#888;
    }
    .receiveMaterialItem .plancount {
        margin-left: .48rem;
    }
/*#endregion*/

/*#region 收料确认详情*/
.receiveMatarialDetail-materialListTitle {
    height:.88rem;
    align-items:center;
    font-size:.28rem;
    color:#999;
    text-align:center;
    background:#fff;
    /*border-top:1px solid #ccc;*/
     border-bottom:1px solid #ccc;
     /*padding:0 .24rem;*/
}


.receiveMatarialDetail-materialList {
    
}
    .receiveMatarialDetail-materialList > .materialList-item {
        background:#fff;
        margin-bottom:.16rem;
        /*padding:.32rem .24rem;*/
        
    }
        .receiveMatarialDetail-materialList > .materialList-item > .materialList-item-content {
            padding: .32rem 0;
        }
        .receiveMatarialDetail-materialList > .materialList-item .materialName,
        .receiveMatarialDetail-materialList > .materialList-item .materialSymbol ,
         .receiveMatarialDetail-materialList > .materialList-item .materialList-item-num  
        {
            font-size:.28rem;
            color:#333;
            text-overflow:ellipsis;
            overflow:hidden;
        }

        .receiveMatarialDetail-materialList > .materialList-item .materialList-item-curNum>input[type=number] {
            height:.56rem;
            width:70%;
            color:#333;
            border:1px solid #ccc ;
            text-align:center;
        }

        /*按钮*/
.materialList-item-btnList {

    border-top:1px solid #ccc;
    
    text-align:right;
    
}

    .materialList-item-btnList > .btn {
       
        margin:.16rem .24rem .16rem 0;
    }
/*#endregion*/
/*#endregion*/