/*
* z-index 层级说明
    页面元素 0
    页面标题 底部按钮  10
    layout遮罩层  20
    pop弹出页面   30
    pop 底部按钮  35
    pop-sub 二级弹出 40
    loading 100
    
    
*   
*/
body.modal-open {
    position: fixed;
    width: 100%;
        height: 100%;
}

/*#region 栅格*/

/*
* 栅格
*
*
*/

.row {
    overflow: hidden;
    display:flex;
    align-items: center;
     text-align:center;
}

    .row > [class*="col-"], .row > [class*="tablet-"] {
        box-sizing: border-box;
        float: left;
        /*background-color:gray;*/
        padding: 5px;
        
    }

.col-1 {
    width: 8.3333%
}

.col-2 {
    width: 16.6666%
}

.col-3 {
    width: 25%
}

.col-4 {
    width: 33.3333%
}

.col-5 {
    width: 41.66666%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.3333%;
}

.col-8 {
    width: 66.6666%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.3333%;
}

.col-11 {
    width: 91.6666%;
}

.col-12 {
    width: 100%;
}

/*#endregion*/

/*#region 多屏幕适配*/
html {
    font-size: 50px !important;
    font-family: sans-serif;
}
/*终端设备360*/
@media (min-device-width : 360px) {
    html {
        font-size: 48px !important;
    }
}
/*iphone 6*/ 
@media (min-device-width : 375px) {
    html {
        font-size: 50px !important;
    }
}
/*iphone6 plus*/ 
@media (min-device-width : 414px) {
    html {
        font-size: 55.2px !important;
    }
}
/*#endregion*/

/*#region 全局基础元素设置*/

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /*-webkit-user-select: none;*/
    outline: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent;
    margin: 0;
    padding: 0;
    font-family: sans-serif
}

body { 
    font-size:.28rem;
    background:#f0eff5
}

a {
    text-decoration: none;
    color: inherit;
}
li {
    list-style: none;
}
/*火狐去除虚线框*/
 ::-moz-focus-inner{outline:none;}

wl {
    display:block;
    height:.2rem;
}
hr {
    display:block;
    height:0;
    border-bottom: 1px solid #ccc;
    border-top: 0;
}

/*#endregion*/

/*#region 标题导航栏*/

.titlebar {
    position: fixed;
    z-index: 10;
    right: 0;
    left: 0;
    top:0;
    height: .88rem;
    padding-right: .2rem;
    padding-left: .2rem;
    border-bottom: 0;
    background-color: #0f87e6;
    line-height: .88rem;
    /*-webkit-box-shadow: 0 0 1px rgba(0,0,0,.85);
    box-shadow: 0 0 1px rgba(0,0,0,.85);*/
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

    .titlebar > .title {
        font-size:.36rem;
        font-weight: bold;
        display: block;
        text-align: center;
        white-space: nowrap;
        color: #fff;
        z-index: 11;
        top: 0;
    }
    .titlebar > .pull-left, .titlebar > .pull-right {
        display:block;
        font-size: .35rem;
        height:  .88rem;
        line-height: .88rem;
        top: 0;
        padding: 0;
        border: 0;
        z-index: 12;
        position: absolute;
        color: #007aff;
        
    }
    
    .titlebar > .pull-left {
      
       
       
    }

        .titlebar > .pull-left:before {
           
        }

    .titlebar > .pull-right {
     right:0; 
    }



/*#endregion*/

/*#region 主体内容部分*/
.main-content {
    border-top: .88rem solid transparent;
    
    /*border-bottom: 56px solid transparent;*/
}

.content {
    padding: .2rem;
}

/*#endregion*/


/*#region 字体*/
.iconfont {
  font-family:"iconfont" !important;
  font-size:.48rem;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*position:relative;*/
  height:.48rem;
  width:.48rem;

}
    .iconfont:before {
         /*height:.48rem;
         width:.48rem;
        position:absolute;
        top:0;
        left:0;*/
    }
/*#endregion*/

/*#region 按钮 button*/
.btn {
    font-weight: 400;
    line-height: 1;
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    padding: .12rem .24rem;
    -webkit-transition: all;
    transition: all;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-duration: .1s;
    transition-duration: .1s;
    text-align: center;
    vertical-align: top;
    white-space: nowrap;
    color: #333;
    border: 1px solid #ccc;
    font-size:.28rem;
}

/*#region btn 颜色*/
/*按钮颜色样式*/
.btn {
    background-color: #fff;
    border: 1px solid #ccc;
    color: #000;
}

    .btn:active {
        color: #fff;
        background: #ccc;
        outline: none;
    }

.btn-info {
    background: #0f87e6;
    border-color: #0f87e6;
    color: #fff;
}

    .btn-info:active {
        color: #fff;
        background: #0a5c9c;
        border-color: #0a5c9c;
    }

.btn-success {
    border-color: #1AAD19;
    background-color: #1AAD19;
    color: #FFFFFF;
}

    .btn-success:active {
        background-color: #20941f;
        border-color: #20941f;
        color: white;
    }

.btn-warning {
    color: white;
    border-color:#FF7436;
    background-color: #FF7436;
}

    .btn-warning:active {
        color: white;
        background-color: #cc5200;
        border-color: #cc5200;
    }

.btn-danger {
    color: white;
    border-color: #f6383a;
    background-color: #f6383a;
}

    .btn-danger:active {
        background-color: #b00609;
        border-color: #f00b0d;
    }

.btn-royal {
    color: #fff;
    border: 1px solid #7641e2;
    background-color: #7641e2;
}

    .btn-royal:active {
        color: #fff;
        border: 1px solid #3b28a3;
        background-color: #3b28a3;
    }
/*#endregion*/

/*#region outline*/
/*按钮边框（是否填充）样式*/
.btn-info.btn-outline {
    color: #0f87e6;
    border-color: #0f87e6;
    background-color: transparent;
}

    .btn-info.btn-outline:active {
        color: #fff;
        background: #0f87e6;
        border-color: #0f87e6;
    }
.btn-warning.btn-outline {
    color: #FF7436;
    background: transparent;
    border-color: #FF7436;
}
    .btn-warning.btn-outline:active {
        color: #fff;
        background: #FF7436;
        border-color: #FF7436;
    }
/*#endregion*/


/*#endregion*/

/*#region 圆角*/
.br-s {
    border-radius:.06rem;
}
.br-m {
    border-radius:.1rem;
}
.br-l {
    border-radius:.2rem;
}
.br-c {
    border-radius:50%;
}
/*#endregion*/

/*#region 右侧 箭头*/
/*右侧导航*/
.navigate-right {
    position: relative;
    display:block;
}
.navigate-right:after {
    font-size: inherit;
    line-height: 1;
    position: absolute;
    top: 50%;
    display: inline-block;
    text-decoration: none;
    color: #bbb;
    -webkit-font-smoothing: antialiased;
    right: .3rem; 
     font-family:"iconfont";
    content: "\e62b"; 
    font-size: .32rem;
    margin-top:-.16rem;
}
/*#endregion*/

/*#region 列表*/
.list {
    background-color:#fff;
}
    .list > .item {
        display:flexbox;
        display: flex;
        padding:.22rem .3rem;
        position: relative;
        overflow: hidden;
        align-items: center;
    }
        .list > .item:active {
            background-color:#ccc;
        }
        .list > .item > .item-icon {
            flex:none;
            margin-right:.2rem;
            align-items: center;
            display: flex;
        }
        .list > .item > .item-content {
            flex:1;
            position: relative;
            display: block;
            overflow: hidden;
            margin: -0.22rem -0.3rem;
            padding: inherit;
            white-space: nowrap;
            text-overflow: ellipsis;
            color: inherit;
            /*padding:.22rem .6rem;*/
        }
         .list > .item>.item-content:before {
            position: absolute;
            right: 0;
            bottom: 0;
            left: 15px;
            height: 1px;
            content: '';
            /*-webkit-transform: scaleY(.5);
            transform: scaleY(.5);*/
            background-color: #c8c7cc;
        }
        .list > .item:last-child > .item-content:before {
            display:none;
        }
/*#endregion*/

/*#region tab*/
.buttons-tab {
    -webkit-align-self: center;
    align-self: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-lines: single;
    -moz-box-lines: single;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.buttons-tab .btn:first-child {
    border-radius: 0.1rem 0 0 0.1rem;
    margin-left: 0;
    border-left-width: 1px;
    border-left-style: solid;
}
.buttons-tab .btn:last-child {
    border-radius: 0 0.1rem 0.1rem 0;
}
.buttons-tab .btn.active {
    background-color: #0894ec;
    color: white;
    z-index: 10;
}
.buttons-tab .btn {
    border-radius: 0 0 0 0;
    margin-left: -1px;
    width: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    border-color: #fff;
    
    color: #0894ec;
}


.tabs {
    display:flex;
   
    overflow:hidden;
    width:100%;
     /*width:300%;*/
    /*display:block*/
}
    .tabs > .tab {
        width:100%;
        flex:none;
        display:none;
         /*display: block;*/
         /*float: left;*/
         position:relative;
    }
        .tabs > .tab.active {
            display:block;
        }
/*#endregion*/

/*#region 搜索框*/
.searchBox {
    display:flex;
    padding:.2rem;
    background:#fff;
      position: relative;
}
    .searchBox > .filter {
        flex: none;
        padding: .1rem .2rem;
        border: none;
        font-size: .28rem;
        line-height: .4rem;
        margin-left: .1rem;
        color:#333;
        height:.54rem;
        
    }
        .searchBox > .filter > .iconfont {
               font-size: .35rem;
        }
    .searchBox > input[type=search] {
        display: block;
        flex: 1;
        border: none;
        background: #f0eff5;
        /*margin: 0 .2rem;*/
        padding: 0 .1rem 0 .6rem;
        height:.56rem;
        border-radius:.1rem;
    }
      
        .searchBox > input[type=search] + i.iconfont {
            position: absolute;
            top: 50%;
            left:0;
            margin-top: -.2rem;
            margin-left: .36rem;
            font-size: .3rem;
            width: .32rem;
            height: .32rem;
            z-index:1;
        }
searchBox > input[type=search]:focus {
      border-radius:.1rem;
}
/*#endregion*/

/*#region 折叠面板*/
.collapse-panel {
    background:#fff;
    margin-bottom:.2rem;
}

    .collapse-panel > .title {
        padding:.2rem .3rem;
        font-size:.34rem;
        color:#111;
        font-weight:400;
      
        position:relative;
        align-items:center;
        height:.8rem;
        line-height:.4rem;
    }
        .collapse-panel > .title > .btn-collapse-panel {
            position: absolute;
            right: .3rem;
            padding: 0 .3rem;
            border: 0;
            font-size: .32rem;
            height: .32rem;
            width: .92rem;
            transform-origin: center;
            transition: transform .3s;
        }

    .collapse-panel.active > .title {
        border-bottom: 1px solid #ccc;
    }
        .collapse-panel.active > .title > .btn-collapse-panel {
            transform: rotate(-180deg);
        }

.collapse-panel-content {
    display:none;
    padding:.2rem;
    height:0;
    overflow:hidden;
    transition:height .3s;
}
.collapse-panel.active > .collapse-panel-content {
    display:block;
    height:auto;
}
/*#endregion*/

/*#region 时间轴*/
.timeline {
   display:block;
}
.vertical-timeline-block {
    display:block;
    position: relative;
    padding-bottom: .8rem;
}
    .vertical-timeline-block:before {
        content:"";
        position:absolute;
        width:3px;
        height:100%;
        background:#0f87e6;
        left:.4rem;
        z-index:0;
    }
    .vertical-timeline-block:last-child:before {
        display:none;
    }
.vertical-timeline-icon {
    position: absolute;
    top: -3px;
    left: 0;
    width: .8rem;
    height: .8rem;
    border-radius: 50%;
    font-size: .4rem;
    padding: 3px;
    text-align: center;
    align-items: center;
    z-index:1;
}
 .vertical-timeline-icon > span {
        color: white;
        background-color: #0f87e6;
        padding: 3px;
        border-radius: 50%;
        display: block;
        width: 100%;
        height: 100%;
    }

.vertical-timeline-content {
    position: relative;
    margin-left:1rem;
    background: #eee;
    color: #111;
    border-radius: 5px;
    /*padding: .2rem;*/
    margin-right: 5px;
}
.vertical-timeline-content:before{
    content:"";
    position:absolute;
    left:-.18rem;
    border-right:10px solid #eee ;
    border-top:10px solid transparent ;
    border-bottom:10px solid transparent;
}
.vertical-timeline-content > .content-header {
    padding: .1rem .2rem;
    font-size:.40rem;
    font-weight:200;
    font-size:.32rem;

}
.vertical-timeline-content > .content-text {
    color:#0f87e6;
    padding:0 .2rem;
    height:.8rem;
    overflow:hidden;

}
.vertical-timeline-content > .content-footer {
    border-top:1px solid #ccc;
      padding: .1rem .2rem;
      display:flex;
}
    .vertical-timeline-content > .content-footer > *:first-child {
        flex-grow:1;
    }
/*倒序*/
.timeline.descending {
    padding-top:1.2rem;
}
    .timeline.descending .vertical-timeline-block:first-child:after {
       content:"";
        position:absolute;
        width:3px;
        height:1.2rem;
        background:#ccc;
        left:.4rem;
        z-index:0;
        bottom:100%;
    }
/*#endregion*/

/*#region 横向时间轴*/

.hor-line {
    display:flex;
    padding: .2rem 0;
     overflow-x:hidden;
        overflow-x:scroll;
        background:#fff;
}
    .hor-line .line-block {
        flex: 1;
        text-align: center;
        align-items: center;
        position:relative;
        min-width:1.5rem;
        float:left;
    }
    .hor-line .line-block .icon {
        display: inline-block;
        background: #b4a2a2;
        width: .8rem;
        height: .8rem;
        line-height:.8rem;
        border-radius: 100%;
        color: #fff;
        position:relative;
        z-index:1
    }
        .hor-line .line-block:before {
            height:3px ;
            background:#0f87e6;
            position:absolute;
            content:"";
            width:50%;
            top:.4rem; 
            left:0;
            z-index:0;
        }
         .hor-line .line-block:after {
            height:3px ;
            background:#0f87e6;
            position:absolute;
            content:"";
            width:50%;
            top:.4rem;
            right:0;
            z-index:0;
        }

        .hor-line .line-block:first-child:before, .hor-line .line-block:last-child:after {
            display:none;            
        }
        .hor-line .line-block.active:after,.hor-line .line-block.active~.line-block:before,  .hor-line .line-block.active~.line-block:after {
             background:#ddd;     
        }

/*#endregion*/


/*#region 底部按钮组*/

/*底部按钮组*/

.bottomButtons {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    min-height: 30px;
    z-index: 10;
    background-color: rgba(0,0,0,.2);
    /*transition: width 0.15s;
    -webkit-transition: bottom   0.15s;*/
    /*height:100px;*/
}

    .bottomButtons .btn {
        /*margin: 10px;*/
        flex-grow: 1;
        flex-shrink: 1;
        width: 100%;
        padding: .27rem 0;
        font-size: .34rem;
        border-right: 1px solid #fff;
        border-top-width: 0;
        border-bottom-width: 0;
    }
        .bottomButtons .btn:last-child {
            border-right:none;
        }
/*#endregion*/

/*#region 菜单*/
.menu {
    border:1px solid #ccc;
    /*border-radius:5px;*/
    /*padding:0 0.1rem;*/
    background:#fff;

    position: absolute;
    /*top: 200px;*/
    border-radius:.1rem;
    
    bottom:-10rem;
    transition:top .3s,bottom .3s,opacity 1s;

    right: .4rem;
    bottom:1.2rem;
    opacity:0;
    display:none;
}
.menu>.btn{
    padding:.2rem;
    border:none;
    display: inherit;
    margin:0;
}
     .menu > .btn:first-child {
        border-radius: .1rem .1rem 0 0
    }
    .menu > .btn:last-child {
        border-radius: 0 0 .1rem .1rem
    }
    .menu > .btn:not(:last-child):after {
        border-bottom: 1px solid #ccc;
        width: 80%;
        content: "";
        position: absolute;
        left: 10%;
        height: 0;
        bottom: 0;
    }
    .menu:before {
        position: absolute;
        width: .4rem;
        height: .4rem;
        content: ""; 
        transform: rotate(45deg);
        border-radius: 100% 0 0 0;
        bottom: -0.2rem;
        left: 50%;
        margin-left:-0.2rem;
        background: #fff;
        border: 1px solid #ccc;
    }

    .menu.bottom-top {
        
    }
    .btn-menu.active+.menu {
         display:block;
         opacity:1;
    }
/*#endregion*/

/*#region 弹窗*/

/*#region modal*/
.modal {
  width: 5.4rem;
  position: fixed;
  z-index: 30;
  left: 50%;
  margin-left: -2.7rem;
  margin-top: 0;
  top: 50%;
  text-align: center;
  border-radius: .14rem;
  opacity: 0;
  -webkit-transform: translate3d(0, 0, 0) scale(1.185);
          transform: translate3d(0, 0, 0) scale(1.185);
  -webkit-transition-property: -webkit-transform, opacity;
          transition-property: transform, opacity;
  color: #3d4145;
  display: none;
}
.modal.modal-in {
  opacity: 1;
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
  -webkit-transform: translate3d(0, 0, 0) scale(1);
          transform: translate3d(0, 0, 0) scale(1);
}
.modal.modal-out {
    opacity: 1;
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
  -webkit-transform: translate3d(0, 0, 0) scale(1);
          transform: translate3d(0, 0, 0) scale(1);
}

.modal-inner {
  padding: 15px;
  border-radius: 7px 7px 0 0;
  position: relative;
  background: #e8e8e8;
}
.modal-inner:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  right: auto;
  top: auto;
  height: 1px;
  width: 100%;
  background-color: #b5b5b5;
  display: block;
  z-index: 35;
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
}

.modal-title {
  font-weight: 500;
  font-size: .36rem;
  text-align: center;
}
.modal-title + .modal-text {
  margin-top: .1rem;
}
.modal-buttons {
  height: .88rem;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  
  border-radius:  0 0 .14rem .14rem ;
}
.modal-buttons.modal-buttons-vertical {
  display: block;
  height: auto;
}
.modal-button {
  width: 100%;
  padding: 0 .1rem;
  height: 0.88rem;
  font-size: .34rem;
  line-height: .88rem;
  text-align: center;
  color: #0894ec;
  background: #e8e8e8;
  display: block;
  position: relative;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
  box-sizing: border-box;
  -webkit-box-flex: 1;
  -ms-flex: 1;
}
.modal-button:after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  left: auto;
  bottom: auto;
  width: 1px;
  height: 100%;
  background-color: #b5b5b5;
  display: block;
  z-index: 35;
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
}
    .modal-button:last-child:after {
        display:none;
    }


/*#endregion*/

/*#region overlay 遮罩层*/
.modal-overlay, .preloader-indicator-overlay, .popup-overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 20;
    visibility: hidden;
    opacity: 0;
    -webkit-transition-duration: 400ms;
    transition-duration: 400ms;
}
.modal-overlay.modal-overlay-visible, .preloader-indicator-overlay.modal-overlay-visible, .popup-overlay.modal-overlay-visible {
    visibility: visible;
    opacity: 1;
}
 .modal.modal-in ~ .modal-overlay,.modal-preloader~.modal-overlay{
    visibility: visible;
    opacity: 1;
}



/*#endregion*/

/*#region loading*/
.modal-preloader-overlay {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: black;
    opacity: 0.2;
    background:rgba(0,0,0,.2);
    z-index: 100
}
.modal-preloader {
    position: absolute; 
    z-index: 100;
    width: 100%;
    height: 100%; 
    left: 0;
    top: 0;
    padding-top: 40%;
    text-align: center;
}
 /*loading*/
.loading {
    display: inline-block; 
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-animation: animate-spining 1s step-end infinite;
    animation: animate-spining 1s step-end infinite;
    width:40px;
    height:40px;
}
.loading:after {
   display: block;
    width: 100%;
    height: 100%;
    content: '';
 /*background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='120' height='120' viewBox='0 0 100 100'%3E%3Cpath fill='none' d='M0 0h100v100H0z'/%3E%3Crect xmlns='http://www.w3.org/2000/svg' width='7' height='20' x='46.5' y='40' fill='rgba(255,255,255,.56)' rx='5' ry='5' transform='translate(0 -30)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='rgba(255,255,255,.5)' rx='5' ry='5' transform='rotate(30 105.98 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='rgba(255,255,255,.43)' rx='5' ry='5' transform='rotate(60 75.98 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='rgba(255,255,255,.38)' rx='5' ry='5' transform='rotate(90 65 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='rgba(255,255,255,.32)' rx='5' ry='5' transform='rotate(120 58.66 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='rgba(255,255,255,.28)' rx='5' ry='5' transform='rotate(150 54.02 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='rgba(255,255,255,.25)' rx='5' ry='5' transform='rotate(180 50 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='rgba(255,255,255,.2)' rx='5' ry='5' transform='rotate(-150 45.98 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='rgba(255,255,255,.17)' rx='5' ry='5' transform='rotate(-120 41.34 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='rgba(255,255,255,.14)' rx='5' ry='5' transform='rotate(-90 35 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='rgba(255,255,255,.1)' rx='5' ry='5' transform='rotate(-60 24.02 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='rgba(255,255,255,.03)' rx='5' ry='5' transform='rotate(-30 -5.98 65)'/%3E%3C/svg%3E");*/
    background-image:url('data:image/svg+xml;charset=utf-8,<svg viewBox=\'0 0 120 120\' xmlns=\'http://www.w3.org/2000/svg\' xmlns:xlink=\'http://www.w3.org/1999/xlink\'><defs><line id=\'l\' x1=\'60\' x2=\'60\' y1=\'7\' y2=\'27\' stroke=\'%236c6c6c\' stroke-width=\'11\' stroke-linecap=\'round\'/></defs><g><use xlink:href=\'%23l\' opacity=\'.27\'/><use xlink:href=\'%23l\' opacity=\'.27\' transform=\'rotate(30 60,60)\'/><use xlink:href=\'%23l\' opacity=\'.27\' transform=\'rotate(60 60,60)\'/><use xlink:href=\'%23l\' opacity=\'.27\' transform=\'rotate(90 60,60)\'/><use xlink:href=\'%23l\' opacity=\'.27\' transform=\'rotate(120 60,60)\'/><use xlink:href=\'%23l\' opacity=\'.27\' transform=\'rotate(150 60,60)\'/><use xlink:href=\'%23l\' opacity=\'.37\' transform=\'rotate(180 60,60)\'/><use xlink:href=\'%23l\' opacity=\'.46\' transform=\'rotate(210 60,60)\'/><use xlink:href=\'%23l\' opacity=\'.56\' transform=\'rotate(240 60,60)\'/><use xlink:href=\'%23l\' opacity=\'.66\' transform=\'rotate(270 60,60)\'/><use xlink:href=\'%23l\' opacity=\'.75\' transform=\'rotate(300 60,60)\'/><use xlink:href=\'%23l\' opacity=\'.85\' transform=\'rotate(330 60,60)\'/></g></svg>');background-repeat:no-repeat;background-position:50%;background-size:100%}
/*旋转动画*/
@-webkit-keyframes animate-spining{0%{-webkit-transform:rotate(0deg)}8.33333333%{-webkit-transform:rotate(30deg)}16.66666667%{-webkit-transform:rotate(60deg)}25%{-webkit-transform:rotate(90deg)}33.33333333%{-webkit-transform:rotate(120deg)}41.66666667%{-webkit-transform:rotate(150deg)}50%{-webkit-transform:rotate(180deg)}58.33333333%{-webkit-transform:rotate(210deg)}66.66666667%{-webkit-transform:rotate(240deg)}75%{-webkit-transform:rotate(270deg)}83.33333333%{-webkit-transform:rotate(300deg)}91.66666667%{-webkit-transform:rotate(330deg)}100%{-webkit-transform:rotate(360deg)}}
@keyframes animate-spining{0%{transform:rotate(0deg)}8.33333333%{transform:rotate(30deg)}16.66666667%{transform:rotate(60deg)}25%{transform:rotate(90deg)}33.33333333%{transform:rotate(120deg)}41.66666667%{transform:rotate(150deg)}50%{transform:rotate(180deg)}58.33333333%{transform:rotate(210deg)}66.66666667%{transform:rotate(240deg)}75%{transform:rotate(270deg)}83.33333333%{transform:rotate(300deg)}91.66666667%{transform:rotate(330deg)}100%{transform:rotate(360deg)}}


/*#endregion*/

/*#region 弹出层其他内容*/

.modal-toast {
    border-radius: 6px;
    background-color: #131313;
    opacity:0.7;
    color:white;
    padding:10px 25px;
    text-align:center;
    position:fixed;
    z-index:90;
    left: 50%;
    -webkit-transform: translate(-50%,0);
     transform: translate(-50%,0); 
    top:50%;
    font-size: 14px;
}


.modal-menu {
    max-height:60%;
    overflow-x:hidden;
    overflow-y:auto;
}


.modal-panel {
    display: block;
    /* margin-top: -13px; */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
    background: #fff;
    margin: 0;
    border: none;
    overflow-x: hidden;
    text-align:initial;
    overflow-y: auto;
    -webkit-transform: translate3d( 100%,0, 0);
    transform: translate3d(100%,0, 0);
}


.modal-panel.modal-in {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

    .modal-panel.modal-out {
        -webkit-transition-duration: 500ms;
        transition-duration: 500ms;
        -webkit-transform: translate3d( 100%,0, 0);
        transform: translate3d(100%,0, 0);
    }
/*#endregion*/

/*#region 弹窗样式和动画*/
.modal-panel-taskOperator {
    display: block;
     
    /* top: 0; */
    width: 100%;
    /* height: 100%; */
    border-radius: 0;
    background: #fff;
    margin: 0;
    bottom:0;
    border: none;
    overflow-x: hidden;
    text-align: initial;
    overflow-y: auto;
    -webkit-transform: translate3d( 0,100%, 0);
    transform: translate3d(0,100%, 0);
    min-height:8rem;
    height:80%;
    top:auto;
}
 
 .modal-panel.modal-out {
        -webkit-transition-duration: 500ms;
        transition-duration: 500ms;
        -webkit-transform: translate3d( 0,100%, 0);
        transform: translate3d( 0,100%, 0);
    }
/*#endregion*/
/*#endregion*/

/*#region pop-content*/
.pop-panel, .pop-panel-sub  {
    background:#fff;
    padding:0;
    margin:0;
    min-height:4rem;
    height: 100%;
    z-index:30;
}
  /* pop-panel-sub 面板嵌套*/
.pop-panel-sub {
    z-index: 40;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    -webkit-transition-duration: 400ms;
    transition-duration: 400ms;
    -webkit-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0);
}
    .pop-panel-sub.active {
          -webkit-transform: translate3d(0, 0, 0) scale(1);
          transform: translate3d(0, 0, 0) scale(1);
    }
    
     .pop-panel-titlebar {
        position:relative;
        border-bottom:1px solid #ccc;
        height:.8rem;
    }
    .pop-panel-titlebar>.pop-panel-titlebar-title {
        display:block;
        text-align:center;
        padding:.2rem 0;
        margin:0 .8rem;
        font-size:.4rem;
        line-height:.4rem;
        position:relative;
     
    }
    .pop-panel-content {
        padding:0;
      
    }
.pop-panel-titlebar + .pop-panel-content {
    position:absolute;
    top:.8rem;
}
.pop-panel-titlebar > .pull-right {
    position: absolute;
    right: .1rem;
    top: 50%;
    margin-top: -12px;
    color: rgba(17, 17, 17, 0.41);
    padding-left: .5rem;
    width: initial;
        z-index: 1;
}
    .pop-panel-titlebar > .pull-left {
        position: absolute;
        left: .1rem;
        top: 50%;
        margin-top: -12px;
        color: rgba(17, 17, 17, 0.41);
        padding-right:1rem;
    }
 
  
/*#endregion*/

/*#region 列表组*/

.list-view {
    position: relative; 
    margin-bottom: .4rem;
    padding-left: 0;
    list-style: none;
    background-color: #fff;
}

    .list-view:before {
        position: absolute;
        right: 0;
        left: 0;
        height: 1px;
        content: '';
        -webkit-transform: scaleY(.5);
        transform: scaleY(.5);
        background-color: #c8c7cc;
        top: -1px;
    }
    .list-view:after {
        position: absolute;
        right: 0;
        left: 0;
        height: 1px;
        content: '';
        -webkit-transform: scaleY(.5);
        transform: scaleY(.5);
        background-color: #c8c7cc;
        bottom: 0px;
    }

.list-view-item {
    position: relative;
    overflow: hidden;
    padding: .22rem .3rem;
    -webkit-touch-callout: none;
}

    .list-view-item:after {
        position: absolute;
        right: 0;
        bottom: 0;
        left: .3rem;
        height: 1px;
        content: '';
        -webkit-transform: scaleY(.5);
        transform: scaleY(.5);
        background-color: #c8c7cc;
    }

    .list-view-item-content, .list-view-item > a {
        position: relative;
        display: block;
        overflow: hidden;
        margin: -.22rem -.3rem;
        padding: inherit;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: inherit;
        margin-left: -.3rem;
        margin-right: -.3rem;
        
        padding-bottom:0px;
    }
    .list-view-item > *:first-child {
        padding-bottom: inherit;
    }
    /*.list-view-item-content:active,*/ .list-view-item > a:active {
        background-color: #DDD;
    }
  /*嵌套列表*/

    .list-view-item .list-view {
        margin-bottom: 0;
    }

.list-view.list-view-scroll {
    position: absolute;
    z-index: 1;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    width: 100%;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
}

/*#endregion*/

/*#region lookup选择项*/
.lookup {
    display:flex;
}
    .lookup > .lookup-title {
        font-size:.32rem;
        color:#333333;
        flex:0;
        width:1.3rem;
        min-width:1.3rem;
    }
    .lookup > .lookup-selected {
        font-size: .32rem;
        color: #333;
        font-weight: 300;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-left: .48rem;
        margin-right: .48rem;
        font-weight: 600;
    }

/*#endregion*/


/*#region radio checkbox swift*/

input[type=checkbox],input[type=radio] {
    display:none;
}
/*checkbox*/
input[type=checkbox] + .checkbox {
      display: inline-block;
    width: .36rem;
    height: .36rem;
    position: relative;
    overflow: visible;
    border: 0;
    background: none;
    -webkit-appearance: none;
    outline: none;
    margin-right: 8px;
    vertical-align: middle;
}
   input[type=checkbox] + .checkbox:before{
        content: "";
        -webkit-font-smoothing: antialiased;
        -webkit-text-stroke-width: 0.2px;
        display: block;
        /*background-color: #0f87e6;*/
        border: 1px solid #dfe0e1;
        position: absolute;
        width: .34rem;
        height: .34rem;
        /*border-radius:50%;*/
    }
    input[type=checkbox]:checked + .checkbox:before {
        border-color: #0f87e6;
        background: #0f87e6;
        width: .36rem;
        height: .36rem;
        border: 0;
    }
     input[type=checkbox]:checked + .checkbox:after {
        content: "\e662";
        font-family: iconfont;
        font-size: .26rem;
        color: white;
        font-weight: bolder;
        display: block;
        position: absolute;
        /*background: #18b4ed;
  border-radius:50%;*/
        width: .36rem;
        height: .36rem;
        line-height:.4rem;
        text-align: center;
        /*left: -3px;
        top: -3px;*/
    }

/*radio*/
    input[type=radio] + .radio {
        display: inline-block;
        width: .36rem;
        height: .36rem;
        position: relative;
        overflow: visible;
        border: 0;
        background: none;
        -webkit-appearance: none;
        outline: none;
        margin-right: 8px;
        vertical-align: middle;
        
    }
     input[type=radio] + .radio:before{
         border-radius:50%;
        content: "";
        -webkit-font-smoothing: antialiased;
        -webkit-text-stroke-width: 0.2px;
        display: block;
        /*background-color: #0f87e6;*/
        border: 1px solid #dfe0e1;
        position: absolute;
        width: .34rem;
        height: .34rem;
        /*border-radius:50%;*/
    }
    input[type=radio]:checked + .radio:before {
        border-color: #0f87e6;
        background: #0f87e6;
        width: .36rem;
        height: .36rem;
        border: 0;
    }
     input[type=radio]:checked + .radio:after {
        content: "\e662";
        font-family: iconfont;
        font-size: .26rem;
        color: white;
        font-weight: bolder;
        display: block;
        position: absolute;
        /*background: #18b4ed;
  border-radius:50%;*/
        width: .36rem;
        height: .36rem;
        line-height:.4rem;
        text-align: center;
        /*left: -3px;
        top: -3px;*/
    }


/*#endregion*/

/*#region row-list-select*/

.row-list-select input[type=radio]+ .radio:before {
    display:none;
}
.row-list-select input[type=radio]:checked+ .radio:after {
    font-size:.32rem;
    color: #0f87e6;
    line-height:.32rem;
}
.row-list-select.list-view .list-view-item-content .checkbox ,.row-list-select.list-view .list-view-item-content .radio{
    float:right;
}
.row-list-select.list-view .list-view-item-content {
    display:flex;
}
    .row-list-select.list-view .list-view-item-content > * {
        flex:1;
    }
    .row-list-select.list-view .list-view-item-content > .checkbox,.row-list-select.list-view .list-view-item-content > .radio {
        flex:0;
        margin-right:.24rem;
    }


.row-list-select input[type=checkbox] + .checkbox:before {
    border-radius: 50%;
}
 
 
/*#endregion*/

/*#region scroll 滚动*/

/*自动设置滚动区*/
.autoScroll, .nativeAutoScroll {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #f1efef;
    overflow: hidden;
}
/*.main-content.autoScroll {
      position: absolute ;
}*/
    .autoScroll .scroll, .nativeAutoScroll .scroll {
        min-height: 101%; 
    }
.autoHorScroll {
    bottom:auto;
    position: relative;
}
.autoHorScroll .scroll {
    min-height:inherit;
    min-width:101%;
     overflow: hidden;
}

.nativeAutoScroll {
    
    overflow-y: scroll;
}

.autoScroll.main-list-autoScroll {
    position: absolute;
    top: 1.84rem;
    bottom: 0;
}
/*#endregion*/


/*#region user-list-view 用户列表*/
.user-list-view >.list-view-item> .list-view-item-content {
    height:1.12rem; 
    padding:.22rem .3rem;
}
.user-list-view >.list-view-item:after {
   
     
    transform: scaleY(.5) translateX(.88rem);
}
.user-list-view .list-view-item-content .userAvatar {
   height: .68rem;
    width: .68rem;
    flex: none;
    margin-right: .2rem;
    background: #0f87e6;
    border-radius: 50%;
    align-items: center;
    line-height: .68rem;
    font-size: .24rem;
    text-align: center;
    color: #fff;
}
.user-list-view .list-view-item-content .userName {
        height: .68rem;
   line-height: .68rem;
}

.user-list-view .list-view-item-content .userAvatar ~ .checkbox ,.user-list-view .list-view-item-content .userAvatar ~ .radio{
    top: 50%;
    margin-top: -.18rem;
}


/*#endregion*/


/*#region 筛选样式*/
.modal-panel-chooseFilter {
    
}
.modal-panel-chooseFilter-header {
        text-align: center;
    padding: .2rem 0;
    border-bottom: 1px solid #ccc;
}
    .modal-panel-chooseFilter-header > .task-buttons-tab > .btn {
        border-color: #0894ec;
        background: #fff;
        color: #0894ec;
        width:1.6rem;
        color:#333;
    }
        .modal-panel-chooseFilter-header > .task-buttons-tab > .btn:not(:first-child) {
            border-left:none;
        }
    .modal-panel-chooseFilter-header > .task-buttons-tab > .btn.active {
        
        background: #0894ec;
        color: #fff;
    }
/*#endregion*/