
/*#region 多屏幕适配*/
html {
    font-size: 50px !important;
    font-family: sans-serif;
}
/*终端设备360*/
@media (min-device-width : 360px) {
    html {
        font-size: 48px !important;
    }
}
/*iphone 6*/ 
@media (min-device-width : 375px) {
    html {
        font-size: 50px !important;
    }
}
/*iphone6 plus*/ 
@media (min-device-width : 414px) {
    html {
        font-size: 55.2px !important;
    }
}
/*#endregion*/

/*#region 全局基础元素设置*/

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /*-webkit-user-select: none;*/
    outline: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent;
    margin: 0;
    padding: 0;
    font-family: sans-serif
}

body { 
    font-size:.28rem;
    background:#f0eff5
}

a {
    text-decoration: none;
}
/*火狐去除虚线框*/
 ::-moz-focus-inner{outline:none;}

wl {
    display:block;
    height:.2rem;
}

/*#endregion*/

/*#region 标题导航栏*/

.titlebar {
    position: fixed;
    z-index: 10;
    right: 0;
    left: 0;
    height: .88rem;
    padding-right: .2rem;
    padding-left: .2rem;
    border-bottom: 0;
    background-color: #0f87e6;
    line-height: .88rem;
    /*-webkit-box-shadow: 0 0 1px rgba(0,0,0,.85);
    box-shadow: 0 0 1px rgba(0,0,0,.85);*/
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

    .titlebar > .title {
        font-size:.4rem;
        font-weight: bold;
        display: block;
        text-align: center;
        white-space: nowrap;
        color: #fff;
        z-index: 1000;
        top: 0;
    }
    .titlebar > .pull-left, .titlebar > .pull-right {
        display:block;
        font-size: .35rem;
        height:  .88rem;
        line-height: .88rem;
        top: 0;
        padding: 0;
        border: 0;
        z-index: 1001;
        position: absolute;
        color: #007aff;
    }
    
    .titlebar > .pull-left {
       
       
       
    }

        .titlebar > .pull-left:before {
           
        }

    .titlebar > .pull-right {
     right:0; 
    }



/*#endregion*/

/*#region 主体内容部分*/
.main-content {
    border-top: .88rem solid transparent;
    /*border-bottom: 56px solid transparent;*/
}

.content {
    padding: .2rem;
}

/*#endregion*/


/*#region 字体*/
.iconfont {
  font-family:"iconfont" !important;
  font-size:.48rem;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*position:relative;*/
  height:.48rem;
  width:.48rem;

}
    .iconfont:before {
         /*height:.48rem;
         width:.48rem;
        position:absolute;
        top:0;
        left:0;*/
    }
/*#endregion*/

/*#region 按钮 button*/
.btn {
    font-weight: 400;
    line-height: 1;
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    padding: .12rem .24rem;
    -webkit-transition: all;
    transition: all;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-duration: .1s;
    transition-duration: .1s;
    text-align: center;
    vertical-align: top;
    white-space: nowrap;
    color: #333;
    border: 1px solid #ccc;
    font-size:.32rem;
}

/*#region btn 颜色*/
/*按钮颜色样式*/
.btn {
    background-color: #fff;
    border: 1px solid #ccc;
    color: #000;
}

    .btn:active {
        color: #fff;
        background: #ccc;
        outline: none;
    }

.btn-info {
    background: #0f87e6;
    border-color: #0f87e6;
    color: #fff;
}

    .btn-info:active {
        color: #fff;
        background: #0a5c9c;
        border-color: #0a5c9c;
    }

.btn-success {
    border-color: #1AAD19;
    background-color: #1AAD19;
    color: #FFFFFF;
}

    .btn-success:active {
        background-color: #20941f;
        border-color: #20941f;
        color: white;
    }

.btn-warning {
    color: white;
    border-color: #ff6600;
    background-color: #ff6600;
}

    .btn-warning:active {
        color: white;
        background-color: #cc5200;
        border-color: #cc5200;
    }

.btn-danger {
    color: white;
    border-color: #f6383a;
    background-color: #f6383a;
}

    .btn-danger:active {
        background-color: #b00609;
        border-color: #f00b0d;
    }

.btn-royal {
    color: #fff;
    border: 1px solid #7641e2;
    background-color: #7641e2;
}

    .btn-royal:active {
        color: #fff;
        border: 1px solid #3b28a3;
        background-color: #3b28a3;
    }
/*#endregion*/
/*#endregion*/

/*#region 右侧 箭头*/
/*右侧导航*/
.navigate-right {
    display:block;
}
.navigate-right:after {
    font-size: inherit;
    line-height: 1;
    position: absolute;
    top: 50%;
    display: inline-block;
    text-decoration: none;
    color: #bbb;
    -webkit-font-smoothing: antialiased;
    right: .3rem; 
     font-family:"iconfont";
    content: "\e62b"; 
    font-size: .32rem;
    margin-top:-.16rem;
}
/*#endregion*/

/*#region 列表*/
.list {
    background-color:#fff;
}
    .list > .item {
        display:flexbox;
        display: flex;
        padding:.22rem .3rem;
        position: relative;
        overflow: hidden;
        align-items: center;
    }
        .list > .item:active {
            background-color:#ccc;
        }
        .list > .item > .item-icon {
            flex:none;
            margin-right:.2rem;
            align-items: center;
            display: flex;
        }
        .list > .item > .item-content {
            flex:1;
            position: relative;
            display: block;
            overflow: hidden;
            margin: -0.22rem -0.3rem;
            padding: inherit;
            white-space: nowrap;
            text-overflow: ellipsis;
            color: inherit;
            /*padding:.22rem .6rem;*/
        }
         .list > .item>.item-content:before {
            position: absolute;
            right: 0;
            bottom: 0;
            left: 15px;
            height: 1px;
            content: '';
            /*-webkit-transform: scaleY(.5);
            transform: scaleY(.5);*/
            background-color: #c8c7cc;
        }
        .list > .item:last-child > .item-content:before {
            display:none;
        }
/*#endregion*/

/*#region tab*/
.buttons-tab {
    -webkit-align-self: center;
    align-self: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-lines: single;
    -moz-box-lines: single;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.buttons-tab .btn:first-child {
    border-radius: 0.1rem 0 0 0.1rem;
    margin-left: 0;
    border-left-width: 1px;
    border-left-style: solid;
}
.buttons-tab .btn:last-child {
    border-radius: 0 0.1rem 0.1rem 0;
}
.buttons-tab .btn.active {
    background-color: #0894ec;
    color: white;
    z-index: 90;
}
.buttons-tab .btn {
    border-radius: 0 0 0 0;
    margin-left: -1px;
    width: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    border-color: #fff;
    
    color: #0894ec;
}


.tabs {
    display:flex;
   
    overflow:hidden;
    width:100%;
     /*width:300%;*/
    /*display:block*/
}
    .tabs > .tab {
        width:100%;
        flex:none;
        display:none;
         /*display: block;*/
         /*float: left;*/
    }
        .tabs > .tab.active {
            display:block;
        }
/*#endregion*/

/*#region 搜索框*/
.searchBox {
    display:flex;
    padding:.2rem;
    background:#fff;
      position: relative;
}
    .searchBox > .filter {
        flex:none;
        padding:.1rem .2rem;
        border:none;
        font-size:.3rem;
            line-height: .5rem;
        }
        .searchBox > .filter > .iconfont {
               font-size: .35rem;
        }
    .searchBox > input[type=search] {
        display: block;
        flex: 1;
        border: none;
        background: #f0eff5;
        margin: 0 .2rem;
        padding: 0 .1rem 0 .6rem;
        height:.7rem;
        border-radius:.1rem;
    }
        .searchBox > input[type=search]+ i.iconfont{
             position:absolute;
             top:50%;
             margin-top:-.24rem;
             margin-left:.3rem;
             font-size:.36rem;
        }
  
/*#endregion*/

/*#region 折叠面板*/
.collapse-panel {
    background:#fff;
}
    .collapse-panel > .title {
        padding:.2rem .3rem;
        font-size:.35rem;
        color:#111;
        font-weight:400;
        border-bottom:1px solid #ccc;
    }
/*#endregion*/

/*#region 时间轴*/

.timeline {
    position: relative;
}

    .timeline:before {
        content: '';
        position: absolute;
        top: 0;
        left: 18px;
        height: 100%;
        width: 4px;
        background: #e7eaec;
    }

.vertical-timeline-block {
    position: relative;
    margin: .8rem 0;
}

.vertical-timeline-icon {
    position: absolute;
    top: -3px;
    left: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 19px;
    padding: 3px;
    text-align: center;
    align-items: center;
}

    .vertical-timeline-icon > span {
        color: white;
        background-color: #f3af13;
        padding: 3px;
        border-radius: 50%;
        display: block;
        width: 100%;
        height: 100%;
    }

.vertical-timeline-content {
    position: relative;
    margin-left: 50px;
    background: #edbd35 ;
    color: #f5fcfa;
    border-radius: 5px;
    padding: 10px;
    margin-right: 5px;
}

/*倒序*/
.timeline.descending .vertical-timeline-block:first-child {
    margin-top:1.2rem;
}
/*#endregion*/

/*#region 横向时间轴*/

.hor-line {
    display:flex;
}
    .hor-line .line-block {
        flex: 1;
        text-align: center;
        align-items: center;
        position:relative;
    }
    .hor-line .line-block .icon {
        display: inline-block;
        background: #d26262;
        width: 20px;
        height: 20px;
        border-radius: 100%;
        color: #fff;
        position:relative;
        z-index:1
    }
        .hor-line .line-block:before {
            height:3px ;
            background:#0f87e6;
            position:absolute;
            content:"";
            width:50%;
            top:10px; 
            left:0;
            z-index:0;
        }
         .hor-line .line-block:after {
            height:3px ;
            background:#0f87e6;
            position:absolute;
            content:"";
            width:50%;
            top:10px;
            right:0;
            z-index:0;
        }
/*#endregion*/